@use 'bootstrap/scss/bootstrap' as bs with (
  $primary: #890e54,
  $secondary: #708090,
  $light: #80a9be,
  $danger: #9b1229
);

h2 {
  background-color: bs.$secondary;
  color: #fff;
  padding: 1em;
  text-align: center;
}
