<h2>Type user List</h2>
<button class="btn btn-primary m-2" routerLink="/types-form">Add a type user</button>

<table class="table table-striped mt-2">
  <thead class="table-primary">
    <tr>
      <th class="col-2">
        @if (sortType() === 'id') {
          @if (sortDirection() === 'asc') {
            <i class="fa-solid fa-arrow-down-short-wide"></i>
          } @else if (sortDirection() === 'desc') {
            <i class="fa-solid fa-arrow-up-short-wide"></i>
          }
        }
        <button class="btn btn-secondary m-1" (click)="onSort('id')">Id</button>
      </th>
      <th class="col-4">
        @if (sortType() === 'typeName') {
          @if (sortDirection() === 'asc') {
            <i class="fa-solid fa-arrow-down-short-wide"></i>
          } @else if (sortDirection() === 'desc') {
            <i class="fa-solid fa-arrow-up-short-wide"></i>
          }
        }
        <button class="btn btn-secondary m-1" (click)="onSort('typeName')">Type user</button>
      </th>
      <th class="col-4">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (tempType of userTypes(); track $index) {
      <tr>
        <td>{{ tempType.id }}</td>
        <td>{{ tempType.typeName }}</td>
        <td>
          <div class="row">
            <div class="col-sm-3">
              <button
                class="btn btn-sm btn-outline-primary"
                routerLink="/types-form/{{ tempType.id }}"
              >
                Edit
              </button>
            </div>
            <div class="col-sm-3">
              <button class="btn btn-sm btn-outline-danger" (click)="removeUserType(tempType.id!)">
                Remove
              </button>
            </div>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>
