<h2>Add / Edit an User</h2>
<div class="container-fluid text-center">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="text-start">
    <div class="form-group row">
      <label for="lastName" class="col-sm-4 col-form-label">Last Name</label>
      <div class="col-sm-8">
        <input
          type="text"
          id="lastName"
          placeholder="Last Name"
          formControlName="lastName"
          class="form-control"
        />
      </div>
    </div>

    <app-message-errors [control]="lastName!"></app-message-errors>

    <div class="form-group row mt-2">
      <label for="firstName" class="col-sm-4 col-form-label">First Name</label>
      <div class="col-sm-8">
        <input
          type="text"
          id="firstName"
          placeholder="First Name"
          formControlName="firstName"
          class="form-control"
        />
      </div>
    </div>

    <app-message-errors [control]="firstName!"></app-message-errors>

    <div class="form-group row mt-2">
      <label for="email" class="col-sm-4 col-form-label">Email</label>
      <div class="col-sm-8">
        <input
          type="email"
          id="email"
          placeholder="Email"
          formControlName="email"
          class="form-control"
        />
      </div>
    </div>

    <app-message-errors [control]="email!" name="email"></app-message-errors>

    <div class="form-group row mt-2">
      <label for="userType" class="col-sm-4 col-form-label">User Type</label>
      <div class="col-sm-8">
        <select class="form-select form-select-sm" formControlName="userType" id="userType">
          @for (tempType of userTypes(); track $index) {
            <option [value]="tempType.id">{{ tempType.typeName }}</option>
          }
        </select>
      </div>
    </div>

    <app-message-errors [control]="userType!"></app-message-errors>

    <div class="row mt-2 justify-content-center">
      <div class="col-sm-3">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="userForm.invalid || userForm.pristine"
        >
          Save
        </button>
      </div>

      <div class="col-sm-3">
        <button class="btn btn-danger" routerLink="/users">Cancel</button>
      </div>
    </div>
  </form>
</div>
