<h2>User Profile</h2>
<div class="card text-bg-light border-secondary mt-4">
  <div class="card-header m-2">
    <h4 class="card-title">{{ user().firstName }} {{ user().lastName }}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{ user().userTypeName }}</h6>
  </div>
  <div class="card-body">
    <p class="card-text text-start">
      <strong>Email:</strong> {{ user().email }} <br />

      <a class="btn btn-primary mt-2" routerLink="/user-form/{{ user().id }}">Edit</a>
    </p>
  </div>
</div>
