<h2>Add / Edit an User Type</h2>
<div class="container-fluid text-center">
  <form [formGroup]="typeUserForm" (ngSubmit)="onSubmit()">
    <div class="form-group row mt-5">
      <label for="typeName" class="col-sm-4 col-form-label">User Type</label>
      <div class="col-sm-8">
        <input
          type="text"
          id="typeName"
          placeholder="User Type"
          formControlName="typeName"
          class="form-control"
        />
      </div>
    </div>
    <app-message-errors [control]="typeName!" name="user type"></app-message-errors>

    <div class="row mt-2 justify-content-center">
      <div class="col-sm-3">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="typeUserForm.invalid || typeUserForm.pristine"
        >
          Save
        </button>
      </div>

      <div class="col-sm-3">
        <a class="btn btn-danger" routerLink="/types">Cancel</a>
      </div>
    </div>
  </form>
  <div class="row mt-3">
    <p class="text-info">{{ message() }}</p>
  </div>
</div>
